@page
@model XorPayCore.Samples.Pages.Pay.XorPay.NotifyModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Notify</title>
</head>
<body>
</body>
</html>
